    @font-face {
        font-family: 'SFPro';
        src: url('/data/SFPro.ttf');
        /* IE9 Compat Modes */
    }
    
    * {
        font-family: SFPro;
        font-size: 13px;
    }
    
    .webix_view.webix_layout_space {
        background-color: #efefef;
        /* background: linear-gradient(to bottom, #dedede 0%, #efefef 1%); */
        /* background: linear-gradient(to bottom, #efefef 2%, #dedede); */
        /* background-color: linear-gradient(to bottom, rgb(207, 42, 42), #dedede); */
        /* background: repeating-linear-gradient(#efefef 2%, #dedede 1%, #efefef 97%); */
        /* background: linear-gradient(to bottom,red, yellow, green); */
    }
    
    .leftnavbar .webix_view.webix_spacer {
        background-color: #efefef !important;
    }
    
    .webix_view.webix_layout_accordion {
        background-color: #efefef;
        /* background: linear-gradient(to bottom, #EEEEEE 0%, #efefef 7%); */
    }
    
    .webix_item_tab,
    .webix_el_label,
    button,
    input,
    .webix_hcell {
        font-family: SFPro !important;
    }
    
    input {
        font-size: 14px !important;
    }
    
    .margin-5 {
        margin-left: 7px;
        margin-right: 7px;
    }
    /* statuses */
    
    .status {
        font-weight: 550;
        font-size: 13px !important;
    }
    
    .open {
        color: #41ad7c;
    }
    
    .ontime {
        color: #1CA1C1;
    }
    
    .last {
        color: #FF5C4C;
    }
    
    .soon,
    .landed {
        color: rgb(243, 166, 1);
    }
    /* notifications list */
    
    .notifications .webix_list_item {
        line-height: 20px;
        padding: 10px;
    }
    
    .notifications .webix_list_item .m_title {
        font-weight: 500;
        color: #313131;
    }
    
    .notifications .webix_list_item .message {
        display: block;
        color: #475466;
    }
    
    .blue-badge .webix_badge {
        background-color: #4463ff !important;
        color: white !important;
    }
    
    .leftnavbar .webix_accordionitem {
        border-radius: 20px !important;
        margin-top: 10px !important;
        border: 1px solid #dedede !important;
    }
    
    .leftnavbar .webix_view.webix_accordionitem.collapsed {
        height: 50px !important;
    }
    
    .leftnavbar .webix_view.webix_accordionitem.collapsed .webix_accordionitem_header {
        padding-top: 5px;
    }
    
    .leftnavbar .webix_view.webix_accordionitem .webix_accordionitem_header {
        padding-top: 7.5px;
        height: 62px !important;
        font-size: 14px !important;
        font-weight: 600;
    }
    
    .leftnavbar .webix_accordionitem_header .webix_accordionitem_label,
    .webix_accordionitem_button {
        color: #4463ff !important;
    }
    
    .leftnavbar .webix_accordionitem_header.collapsed .webix_accordionitem_button {
        color: #a3a3a3 !important;
    }
    
    .leftnavbar .webix_accordionitem_header.collapsed .webix_accordionitem_label {
        color: #575757 !important;
    }
    
    .leftnavbar .webix_accordionitem_body {
        border-top: 1px solid #F1F0F0;
    }
    
    .leftnavbar .webix_inp_counter_value {
        height: 35px !important;
    }
    
    .leftnavbar .webix_inp_counter_prev,
    .webix_inp_counter_next {
        height: 30px !important;
        margin-top: 2.5px !important;
    }
    
    .leftnavbar .webix_view.webix_control.webix_el_counter.adult-counter {
        height: 45px !important;
    }
    
    .leftnavbar .webix_view.webix_control.webix_el_counter.adult-counter .webix_el_box,
    .webix_el_group {
        height: 45px !important;
    }
    
    .leftnavbar .webix_view {
        border: none;
    }
    
    .search-button .webixtype_form {
        width: 250px;
        border-radius: 50px;
        color: white;
        padding-top: 6px;
        padding-bottom: 6px;
        margin-left: 15px;
        font-size: 13px !important;
    }
    
    .webix_inp_counter_prev {
        border-radius: 5px !important;
        border-color: transparent !important;
        margin-right: 10px;
    }
    
    .webix_inp_counter_prev:focus {
        background-color: #4463ff !important;
    }
    
    .webix_inp_counter_value {
        border-radius: 5px !important;
        border: 2px solid #4463ff !important;
        margin-right: 10px;
    }
    
    .webix_inp_counter_next {
        border-radius: 5px !important;
        border-color: transparent !important;
    }
    
    .webix_inp_counter_next:focus {
        background-color: #4463ff !important;
    }
    
    .flight-searching input {
        border-radius: 25px;
        border: 2px solid #E2E2E2;
    }
    
    .flight-searching .webix_inp_static {
        border-radius: 20px;
        padding-right: 5px !important;
    }
    
    .align-middle .webix_template {
        display: flex;
        align-items: center;
    }
    
    .align-end {
        display: flex;
        justify-content: flex-end;
    }
    
    .flight-searching .webix_view.webix_layout_line {
        margin-left: 5px !important;
    }
    
    .smaller-font .webix_label_right {
        font-size: 14px !important;
    }
    
    .bigger-font {
        font-size: 18px !important;
    }
    
    .header {
        padding-top: 10px !important;
        /* border-bottom: 2px solid #dedede !important; */
        box-shadow: 10px 10px;
    }
    
    .header .custom-tabbar .webix_item_tab {
        color: white;
        font-size: 13px !important;
        font-weight: 600 !important;
        color: #575757;
    }
    
    .header .custom-tabbar .webix_item_tab .dashboard {
        display: none;
        font-size: 10px;
    }
    
    .header .custom-tabbar .webix_item_tab .flights {
        display: none;
        font-size: 10px;
    }
    
    .header .custom-tabbar .webix_item_tab .hotels {
        display: none;
        font-size: 10px;
    }
    
    .header .custom-tabbar .webix_item_tab .cars {
        display: none;
        font-size: 10px;
    }
    
    .header .custom-tabbar .webix_item_tab.webix_selected {
        padding-top: 12px !important;
        box-shadow: none !important;
        color: #4463ff;
    }
    
    .header .custom-tabbar .webix_item_tab.webix_selected .dashboard {
        display: block;
    }
    
    .header .custom-tabbar .webix_item_tab.webix_selected .flights {
        display: block;
    }
    
    .header .custom-tabbar .webix_item_tab.webix_selected .hotels {
        display: block;
    }
    
    .header .custom-tabbar .webix_item_tab.webix_selected .cars {
        display: block;
    }
    
    .header .webix_view {
        border: none !important;
    }
    
    .header .webix_el_label {
        font-size: 16px !important;
        font-weight: 500 !important;
        color: #575757 !important;
    }
    
    .left-padding {
        margin-left: 15px !important;
    }